---
---

$enable-responsive-font-sizes: true;
$primary: #007cb0;
$secondary: #43a047;
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

[id] {
  scroll-margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
.navbar {
  font-family: "Oxygen", sans-serif;
}

.navbar-brand img {
  width: 50px;
}

.navbar .active a {
  font-weight: 700 !important;
  text-decoration: underline;
}

.logo {
  font-family: "Oxygen", sans-serif;
  font-size: 24pt;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  min-height: 400px;
}

.caption {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
}

main img {
  @include img-fluid();
  display: block;
  margin: 0 auto 0 auto;
  max-height: 900px;
}

blockquote {
  border-left: 1px solid grey;
  padding-left: 1em;
  font-style: italic;
}

// +++
// ++ timeline
// +++

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: $primary;
  border-color: white;
  border: 3px solid white;
  color: #fff;
  z-index: 2;
  height: 4em;
  width: 4em;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid white;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid white;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid white;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
