---
---

$primary: #729fcf;
$secondary: #43a047;
@import 'bootstrap/bootstrap';

@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
}


.logo {
  font-family: 'Megrim', cursive;
  font-size: 24pt;
}

.navbar {
  font-size: 18pt;
}
