---
---

$primary: #007cb0;
$secondary: #43a047;
@import 'bootstrap/bootstrap';

@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
}

h1, h2, h3, h4, h5, .navbar {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}


.logo {
  font-family: 'Megrim', cursive;
  font-size: 24pt;
}

main img {
  @include img-fluid();
  display: block;
  margin: 0 auto 0 auto;
}
