<footer class="py-4 mt-auto text-light text-center bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-4 my-2">
        <nav class="nav flex-column">
          {% for item in site.data.footer.links %}
            <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </div>
      <div class="col-12 col-sm-4 my-2">
        &copy; {{ site.copyright }}
      </div>
      <div class="col-12 col-sm-4 my-2">
        {% for item in site.data.footer.social %}
          <a class="mx-2" href="{{ item.url }}"><i class="h2 {{ item.fa_class }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
