{% assign title = page.title | default: layout.title %}
{% assign share_url = site.url | append: page.url | url_encode %}

<div class="mt-4">
  Diesen Beitrag teilen:

  <span class="h5">
    <a class="{% if include.text_label %}share-btn{% endif %} share-btn-twitter"
       rel="noopener"
       href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ title | url_encode }}">
      <i class="fab fa-twitter"></i>
      {% if include.text_label %}Auf Twitter teilen{% endif %}
    </a>
    <a class="{% if include.text_label %}share-btn{% endif %} share-btn-facebook"
       rel="noopener"
       href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&title={{ title | url_encode }}">
      <i class="fab fa-facebook-square"></i>
      {% if include.text_label %}Auf Facebook teilen{% endif %}

    </a>
    <a class="{% if include.text_label %}share-btn{% endif %} share-btn-linkedin"
       rel="noopener"
       href="http://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ title | url_encode }}">
      <i class="fab fa-linkedin"></i>
      {% if include.text_label %}Auf LinkedIn teilen{% endif %}
    </a>
  </span>
</div>
