---
layout: default
---
<main>
  <div class="thumbnail text-center">
    <img src="{{ "/img/hero-adrian-trinkaus.jpg" | relative_url }}" class="img-fluid" alt="Cloudy Berlin television tower" />
    <div class="caption d-flex flex-column align-items-center text-center" style="color:#007cb0">
      <h1>{{ site.data.home.title }}</h1>
      <div class="h5 mt-4 font-italic">{{ site.data.home.subtitle }}</div>
    </div>
  </div>
  <div class="jumbotron bg-white">
    <div class="container d-flex flex-column">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <h1>{{ site.data.home.synopsis.title }}</h1>
          {{ site.data.home.synopsis.description | markdownify }}
        </div>
        <div class="col-12 col-lg-6 ">
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="widget/#/sites/{{ site.data.home.widgetSiteId }}" width="600px" height="400px"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bg-primary text-white">
    <div class="container">
      <div class="row pt-5">
        <div class="col">
          <h1>{{ site.data.home.why.title }}</h1>
          {{ site.data.home.why.description | markdownify }}
        </div>
      </div>
      <div class="row">
      {% for section in site.data.home.why.sections %}
        <div class="col-12 col-sm-4 my-2">
          <div class="card text-dark h-100">
            <div class="card-body">
              <h1 class="text-center"><i class="{{ section.fa-class }}"></i></h1>
              <div class="card-title">
                <h5> {{section.title }}</h5>
              </div>
              <div class="card-text">
                {{section.paragraph | markdownify}}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <!--  how section -->
  <div class="jumbotron bg-white text-dark">
    <div class="container">
      <div class="row p-3">
        <h1>{{ site.data.home.how.title }}</h1>
      </div>
      <div class="row p-3">
        {% for section in site.data.home.how.sections %}
        <div class="col-sm">
          <div class="card text-dark" style="width: 32rem; max-width: 100%">
            <img src="{{ section.img | relative_url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{section.title }}</h5>
              <div class="card-text">{{section.paragraph | markdownify}}</div>
              <a href="{{ section.button.url }}" class="btn btn-lg btn-primary">
                {{ section.button.title }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- join section -->
  <div class="jumbotron bg-primary text-white">
    <div class="container d-flex flex-column justify-content-around align-items-center">
      <div class="row p-3">
        <h1 class="mb-4 text-center">{{ site.data.home.join.title }}</h1>
      </div>
      <div class="row align-items-center pb-5">
        <p class="text-center">{{ site.data.home.join.description }}</p>
      </div>
      <!-- join steps wrapper -->
      <div class="container" style="width: 90%;">
        <!--first section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle d-inline-flex align-items-center">
              <i class="{{ site.data.home.join.steps[0].class }}"></i>
            </div>
          </div>
          <div class="col-6">
            <h5>
              {{ site.data.home.join.steps[0].subtitle }}
            </h5>
            <p>{{ site.data.home.join.steps[0].description }}</p>
          </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>
              {{ site.data.home.join.steps[1].subtitle }}
            </h5>
            <p>{{ site.data.home.join.steps[1].description }}</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle d-inline-flex align-items-center">
              <i class="{{ site.data.home.join.steps[1].class }}"></i>
            </div>
          </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle d-inline-flex align-items-center">
              <i class="{{ site.data.home.join.steps[2].class }}"></i>
            </div>
          </div>
          <div class="col-6">
            <h5>
              {{ site.data.home.join.steps[2].subtitle }}
            </h5>
            <p>{{ site.data.home.join.steps[2].description }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- MITMACHEN btn  -->
    <div class="text-center mt-5">
      <a class="btn btn-lg btn-light" href="{{ site.data.home.join.button.url }}">
        {{ site.data.home.join.button.title }}
      </a>
    </div>
  </div>
  <!-- about section -->
  <div class="container d-flex align-items-center flex-column pb-4">
    <div class="row p-3 text-center">
      <h1>{{ site.data.home.about.title }}</h1>
    </div>
    <div class="text-center">
      {{ site.data.home.about.paragraph | markdownify }}
    </div>
    <div class="container d-flex flex-row flex-wrap align-items-center justify-content-around pb-4">
      {% for partner in site.data.partners %}
      <a class="my-2" href="{{ partner.url }}">
        <img src="{{ site.baseurl }}/img/{{ partner.image }}" alt="{{ partner.name }}" width="{{ partner.width }}"/>
      </a>
      {% endfor %}
    </div>
  </div>
</main>
