---
layout: default
---
<main>
  <div class="thumbnail text-center">
    <img src="../img/hero-adrian-trinkaus.jpg" class="img-responsive" alt="Cloudy Berlin television tower" />
      <div class="caption  d-flex flex-column align-items-center text-center" style="color:#007cb0">
        <h1>Alles Clärchen?</h1>
        <h5>Mit Clair Berlin zu einer besseren Luftqualität für Berlin beitragen</h5>
      </div>
  </div> 
  <div class="jumbotron bg-white">
    <div class="container d-flex flex-column">
      <div class="row p-3">
        <h1>{{ site.data.home.synopsis.title }}</h1>
      </div>
        <div class="row align-items-center">
          <div class="col-8">
            <p>{{ site.data.home.synopsis.description }}</p>
          </div>
          <div class="col-4">
            <img src="img/clair-logo.svg" width="230"/>
          </div>
        </div>
    </div>
  </div>
<!-- HOW section -->
  <div class="jumbotron bg-primary text-white">
    <div class="container d-flex flex-column justify-content-around align-items-center">
      <h1>{{ site.data.home.synopsis.how.title }}</h1>
      <table>
        {% for item in site.data.home.synopsis.how.steps %}
        <tr>
          <td>
            {{ forloop.index }}.
            {{ item.description }}
          </td>
          <td>
            <i class="{{ item.class }} ml-4 h4"></i>
          </td>
        </tr>
        {% endfor %}
      </table>
<!-- MITMACHEN btn  -->
      <div class="text-center my-5">
        <a class="btn btn-lg btn-light" href="{{ site.data.home.synopsis.button.url }}">
          {{ site.data.home.synopsis.button.title }}
        </a>
      </div>
    </div>
  </div>
    {% for section in site.data.home.sections %}
    <section class="py-3">
      <div class="container d-flex align-items-center flex-column">
        <div class="row">
          <div class="col-4">
            Wissenschaftlicher HG
          </div>
          <div class="col-4">
            Technischer HG
          </div>
        </div>
        <h1 class="mt-5">{{ section.title }}</h1>
        <p>
        {{ section.paragraph | markdownify }}
        </p>
        <div class="text-center">
          <a class="btn btn-lg btn-primary" href="{{ section.button.url }}">
            {{ section.button.title }}
          </a>
        </div>
      </div>
    </section>
    {% endfor %}
    <section class="py-3">
      <div class="container d-flex align-items-center flex-column">
        <h1 class="mt-5">{{ site.data.home.about.title }}</h1>
        <p>
        {{ site.data.home.about.paragraph | markdownify }}
        </p>
        <div class="container d-flex flex-row flex-wrap align-items-center justify-content-around">
          {% for partner in site.data.partners %}
          <a class="my-2" href="{{ partner.url }}">
            <img src="{{ site.baseurl }}/img/{{ partner.image }}" alt="{{ partner.name }}" width="{{ partner.width }}"/>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>
    </div>
</main>
